.RootContainer{
    height: 100vh;
    width: 100%;
    font-family: 'Quicksand', sans-serif;
  }

  .containerNavAndTask{
    margin-left: 25%;
  }
.navs{
  margin-left: 25%;
}

.containerTask{
  margin-top: 70px;
}

  .principalrow{
    height: 95%;
  }

  .titleTask{
    border-radius: 1rem;
  }
